body {
    max-width: 700px;
    margin: auto;
}
.title {
    text-align:center;
    padding-bottom: 20px;
    margin: auto;
}
.container {
    background-color: aquamarine;
    border-style: double;
    max-width: 700px;

}
#choicediv {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 10px;
}
.scorediv {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.choicereturned {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.text {
    padding: 20px;
}
#playerscore {
    background-color: lightgrey;
    padding: 15px;
    border: solid black 2px;
    
}
#cpuscore {
    background-color: lightgrey;
    padding: 15px;
    border: solid black 2px;
    
}
.scorename {
    padding-bottom: 15px;
}
.vs {
    text-align: center;
}
#winnerdiv {
    text-align: center;
    min-height: 30px;
}

#overlayWin {
    max-width: 750px;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}
#modalWin {
    width: 300px;
    height: 150px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}
.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    border-style: double;
    border-color: black;
  }
  #overlayLose {
    max-width: 750px;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}
#modalLose {
    width: 300px;
    height: 150px;
    margin: auto;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}